<!DOCTYPE html>
<html class="no-js" lang="en">
{{!-- <link rel="stylesheet" href="/assets/css/lingkaran.css"> --}}
<body>


    <!-- Main -->

    <main class="app-content-sayembara" >
        <!-- Intro -->
        <section class="hero is-fullheight is-intro-sayembara" style="padding-top: 60px;">
            <!-- Hero content: will be in the middle -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered is-reverse-mobile">
                        <div class="column has-text-left" data-aos="fade-right" data-aos-duration="1800">
                            <h1 class="title has-text-white is-size-1">
                                BantuDESA :
                                <br>
                                Sayembara Ide
                            </h1>
                            <p class="has-text-white">
                                Sayembara ide merupakan salah satu kegiatan BantuDESA
                                yang sedang diselenggarakan
                            </p>
                            <br>
                            <a class="button is-white is-rounded" id="selengkapnya">Ikuti sayembara membangun desa</a>
                        </div>
                        <div class="column is-4">
                            <img src="/assets/img/sayambaraputih.png" alt="" data-aos="fade-up" data-aos-duration="1800">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="clipping-top"></div> -->
        <!-- acara -->
        <section class="hero is-medium is-acara">
            <div class="hero-body">
                <div class="container">

                    <h1 class="title has-text-success" id="acara">Daftar Sayembara</h1>
                    <div class="row">
                        <div class="col-md-6" id="myBtnContainer">
                          <button id="btnall" class="button is-active">Lihat semua</button>
                          <button id="btninfrastruktur" class="button">Infrastruktur</button>
                          <button id="btnpakan" class="button">Pakan</button>
                          <button id="btnpangan" class="button">Pangan</button>
                          <button id="btnpariwisata" class="button">Pariwisata</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6" id="myBtnContainer">
                          <div class="input-group">
                                <input id="cari" type="text" class="form-control" placeholder="Cari Sayembara...">
                                <!-- <div class="input-group-btn">
                                  <button class="button is-active" type="submit">
                                    Cari
                                  </button>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <br>
                    <div id="isi" class="row">
                    {{#each sayembaras as |sayembara|}}
                        <div class="col-md-6 filterDiv {{sayembara.[topik]}}">
                            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                <div class="card-body flex-column align-items-start">
                                  <div class="row">
                                    <div class="col-lg-8">
                                        <img class="card-img flex-auto d-none d-lg-block image is-64x64" src="/assets/img/{{sayembara.[gambar]}}" alt="" style="opacity: 0.4">
                                        <strong class="d-inline-block mb-2 text-success">{{sayembara.[topik]}}</strong>
                                        <h3 class="mb-0">
                                            <a class="text-dark" href="/sayembara/{{sayembara.id_sayembara}}">{{sayembara.[judul_sayembara]}}</a>
                                        </h3>
                                        <div class="mb-1 text-muted">{{sayembara.[tanggal_awal]}} - {{sayembara.[tanggal_akhir]}}</div>
                                        <p class="card-text mb-auto">{{sayembara.[deskripsi_singkat]}}</p>
                                        <a href="/sayembara/{{sayembara.id_sayembara}}">Continue reading</a>
                                    </div>
                                    <div class="col-lg-4" align="right">
                                        <img class="card-img-bottom flex-auto d-none d-lg-block image is-64x64" src="/assets/img/hourglass.png" alt="" align="right">
                                    </div>
                                  </div>
                                  
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
<script src="/function.js"></script>
</html>
